<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>Income and Expense Manager</title>
  <link rel="stylesheet" href="./css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link href="./../css/print.css" media="print" rel="stylesheet" />
  <link rel="stylesheet" href="./../css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="./../css/styles.css">
  <link rel="stylesheet" href="./../node_modules/intro.js/minified/introjs.min.css">
  <link rel="stylesheet" href="./node_modules/intro.js/minified/introjs.min.css">  
  <link rel="stylesheet" href="./node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="./../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
</head>