<script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="./node_modules/intro.js/minified/intro.min.js"></script>
  <script type="text/javascript" src="./../js/dailyView.js"></script>
  <script type="text/javascript" src="./../js/monthlyView.js"></script>
  <script type="text/javascript" src="./../node_modules/chart.js/dist/Chart.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
  <script src="./../js/jquery.min.js"></script>
  <script src="./../js/bootstrap.js"></script>
  <script src="./../node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="./../js/main.js"></script>
  
  <script type="text/javascript" src="./../node_modules/chart.js/dist/Chart.js"></script>
  <script type="text/javascript" src="./../js/stats.js"></script>
  <script src="./../node_modules/moment/moment.js"></script>
  <script type="text/javascript" src="./../js/filter.js"></script>
  <script type="text/javascript" src="./../node_modules/intro.js/minified/intro.min.js"></script>
</body>

</html>