{{!-- headers --}}
    {{> userProfileheaders}}

    <!-- navbar -->
    {{> userProfileNavbar}}
    <!-- Main Area -->
    <div class="container-fluid" id="app-space">
        <div class="row content-area">
            {{> userProfileSidebar}}
            <div class="col-sm-10">
                <!-- --------------------------------- -->
                <nav class="navbar navbar-light bg-light" id="statistics-section-header">
                    <span class="h2" class="navbar-brand mb-0">Statistics</span>
                </nav>
                <!-- --------------------------------- -->
                <div id="expenseStatsDisplaySection">
                    <div class="col-sm-6">
                        <canvas id="monthlyExpensesBarChart" width="400" height="400"></canvas>
                        <div class="label label-default"style="margin-left:60px">Bar Graph</div>
                        <div class="label label-default">Monthly versus expenses</div>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="monthlyExpensesLineChart" width="400" height="400"></canvas>
                        <div class="label label-default"style="margin-left:60px">Line Graph</div>
                        <div class="label label-default">Monthly versus expenses</div>
                    </div>
                    <hr class="brace">
                    <div class="col-sm-6">
                        <canvas id="chart-area" width="400" height="400"></canvas>
                        <div class="label label-default"style="margin-left:60px">Donut chart</div>
                        <div class="label label-default">Expenses based on category for 2017</div>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="all-category-monthly-line-chart" width="400" height="400"></canvas>
                        <div class="label label-default"style="margin-left:60px">Line Chart</div>
                        <div class="label label-default">Expenses based on category monthly wise 2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> userProfileFooter}}
